nav {
    background-color: #33c3f0;
    padding: 10px;
    /* text-align: center; */
}

nav a {
    text-decoration: none;
    padding-right: 50px;
    color: inherit;
}

.brand {
    font-size: 24px;
    font-weight: bold;
    color:ghostwhite;
}

.menu {
    padding-top: 7px;
    color:ghostwhite;
}

.active {
    font-weight: 600;
    color:lightgray;
}